<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Squamish Crash Pad
      </a>
    </div>
    <button type="button" class="btn btn-default navbar-btn button pull-right">Request a Booking</button>
  </div>
</nav>

<div class="row header" backstretch background-url="images/living-fireplace.jpg">
  <div class="col-md-12">
  </div>
</div>

<div class="row snapshot-details">
  <div class="col-md-12">
    <h1>The Squamish Art Pad</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2 center">
            <span class="fa fa-home fa-3x"></span>
            <p>Entire Home</p>
          </div>
          <div class="col-md-2 center">
            <span class="fa fa-users fa-3x"></span>
            <p>5 Guests</p>
          </div>
          <div class="col-md-2 center">
            <span class="fa fa-hotel fa-3x"></span>
            <p>2 Bedrooms + Den</p>
          </div>
          <div class="col-md-2 center">
            <span class="fa fa-male fa-3x"></span>
            <p>2 Bathrooms</p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row snapshot-details">
  <div class="col-md-12">
    <h2>The Space</h2>
    <ul>
      <li>Kitchen</li>
      <li>Internet</li>
      <li>Laundry</li>
      <li>TV</li>
      <li>Sauna</li>
      <li>Parking</li>
      <li>Pet Friendly</li>
    </ul>
    <h2>Amenities</h2>
    <h2>Description</h2>
  </div>
</div>

<!-- <div class="row gallery" ng-controller="GalleryCtrl">
  <div class="col-md-12">
    <div masonry column-width="200">
        <div class="masonry-brick" ng-repeat="brick in bricks">
            <img ng-src="{{ brick.src }}" alt="A masonry brick">
        </div>
    </div>
  </div>
</div> -->
<div ng-controller="GalleryCtrl">
    <div masonry column-width="280">
        <div class="masonry-brick brick" ng-repeat="brick in bricks">
            <img ng-src="{{ brick.src }}" alt="A masonry brick">
        </div>
    </div>
</div>
