.header {
  height: 517px;
}
.text-container { 
  margin: 0 auto;
  width: 570px;
  height: 100px; 
  line-height: 517px;
  text-align: center;
}

.text-container h1 {
  vertical-align: middle;
  display: inline-block;
  font-size: 86px;
  color: #fff;
  opacity: .8;
}