.header {
  height: 100vh;
  background: url("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
  background-size: cover;
  // height: 567px;
  position: relative;
  z-index: -1;
}
.text-container { 
  margin: 0 auto;
  width: 570px;
  height: 100px; 
  line-height: 700px;
  // line-height: 567px;
  text-align: center;
}

.text-container h1 {
  vertical-align: middle;
  display: inline-block;
  font-size: 86px;
  color: #fff;
  opacity: .8;
}