.header {
  height: 100vh;
  background-image: url("../images/couch.jpg");
  background-size: cover;
  bottom: 0;
  // height: 567px;
  position: relative;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: bottom; 
}
.title-container { 
  margin: 0 auto;
  width: 570px;
  height: 100px; 
  // line-height: 700px;
  line-height: 567px;
  text-align: center;
}

.title-container h1 {
  vertical-align: middle;
  display: inline-block;
  font-size: 86px;
  color: #fff;
  opacity: .8;
}