.nav {
  padding: 10px;
  background-color: transparent;
  border-bottom: rgba(0,0,0,0.2) solid 1px;
  height: 70px;
}
.navbar-default .navbar-brand {
  color: $primary-font-color;
}
.navbar-btn {
  background-color: #ff5a5f;
  border-bottom: #e00007 solid 2px;
  border-top: none;
  border-right: none;
  border-radius: 0;
  border-left: none;
  color: $primary-font-color;
  padding: 10px;
  font-size: $primary-font-size;
}
.nav .navbar-btn:hover{
  color: $primary-font-color;
  background-color: #ff7e82;
  border-bottom: #ff5a5f solid 2px;
}