.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-2px) scale(3);
  // transform: translateZ(-1px) scale(2);
}
.parallax__layer--deep {
  transform: translateZ(0);
  // transform: translateZ(-1px) scale(2);
  // transform: translateZ(-2px) scale(3);
}
.parallax__group {
  position: relative;
  transform-style: preserve-3d;
}

#group1 {
  z-index: -1;
  height: 567px;
}
#group2 {
  z-index: 2;
  // padding-bottom: 500px;
}
#group3 {
  z-index: -5;
}