.tx-center {
  text-align: center;
}
.snapshot {
  background-color: #fff;
  padding-top: 95px;
  padding-bottom: 65px;
}
.snapshot-details p {
  font-size: $secondary-font-size;
  font-weight: 300;
  color: $secondary-font-color;
}