.left-main-image {
  height:800px;
}
.tri-image {
  height:500px;
}
.collection-image {
  // background-size: cover;
  height: 400px;
}
// .image-one {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }
// .image-two {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }
// .image-three {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }
// .image-four {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }