.left-main-image {
  height:800px;
}
.tri-image {
  height:500px;
  ul {
    padding-left: 20px;
  }
  .content {
    width: 400px;
    margin: 0px auto;
    float: none;
    padding-top: 170px;
  }
  hr.sep {
    display: block;
    // width: 40%;
    margin: 1em auto;
    border: 1px solid #c5a47e;
  }
  li {
    font-size: $primary-font-size;
    font-weight: 300;
  }
}
.mozaic {
  z-index: 5;
}
.collection-image {
  // background-size: cover;
  height: 400px;
}
// .image-one {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }
// .image-two {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }
// .image-three {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }
// .image-four {
//   background: url('http://dl.dropbox.com/u/515046/www/garfield-interior.jpg') no-repeat center center;
// }