<div class="row" ng-controller="BookingCtrl">
  <div class="col-md-4">
    <!-- Head -->
    <div class="row">
      <div class="col-md-6">
        {{$120}}<span class="currency">CAD</span>
      </div>
      <div class="col-md-6">
        Per Night
      </div>
    </div>

    <!-- Pick Dates -->
    <div class="row">
      <div class="col-md-4">
        <h3>Check In</h3>
      </div>
      <div class="col-md-4">
        <h3>Check Out</h3>
      </div>
      <div class="col-md-4">
        <h3>Guests</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <input ng-model="">Datepicker here</input>
      </div>
      <div class="col-md-4">
        <input ng-model="">Datepicker here</input>
      </div>
      <div class="col-md-4">
        <input ng-model="">Number Drop Down</input>
      </div>
    </div>

    <!-- Cost -->
    <div class="row">
      <div class="col-md-6">
        {{$120}}<span class="currency">CAD</span> X {{2}}
      </div>
      <div class="col-md-6">
        {{$240}}<span class="currency">CAD</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Cleaning Fee
      </div>
      <div class="col-md-6">
        $40<span class="currency">CAD</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Total
      </div>
      <div class="col-md-6">
        {{$280}}<span class="currency">CAD</span>
      </div>
    </div>

  </div>
</div>