body {
  font-family: 'Open Sans', sans-serif;
}
.header {
  height: 800px;
}
.navbar {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding: 5px;
}
.btn.btn-default.navbar-btn.button {
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FF5C61;
  font-size: 1.1em;
  border: none;
  color: #fff;
}
.snapshot {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}
.snapshot-details {
  padding-top: 20px;
  padding-bottom: 20px;
}
.details {
  background-color: #F5F5F5;
  padding-bottom: 40px;
}
.details h2 {
  font-size: 1.5em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.details li {
  font-size: 1em;
}
.brick {
  width:25%;
}
.tx-center {
  text-align: center;
}
.center {
  float: none;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
/*.main-image {
  background: url("images/living-fireplace.jpg");
  background-repeat: no-repeat;
}*/